.nav {
    background-color: black;
    display: flex;
    font-family: sans-serif;
}

.title {
    background-color: black;
    flex: 1;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.title h1{
    margin: 0px;
    font-size: 250%;
    background-image: url("titlemug.jpg");
    background-size: cover;
    background-position: bottom;
    
    
    
}

.title a {
    color: saddlebrown;
    text-decoration: none;
}

.cats {
    flex: 3;
    
}

.cats a {
    color: navajowhite;
    text-decoration: none;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.first{
   
    background-image: url(teapic.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding-bottom: 50px;
    
}




.first h1{
    padding-top: 70px;
    padding-bottom: 10px;
    padding-right: 550px;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    color:white;  
    
    
    
}

.first h4{
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    color:white;  
    padding-bottom: 200px;
    padding-left: 50px;
    padding-right: 200px;
}


.first p{
    color:white;
    font-family: sans-serif;
    bottom: 200px;
}
.nav{
   border-bottom: 1px solid white;
    
}

body{
    margin:0px;
}

.welcome2{
   
    background-image: url(morocco.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1px;
 
}
.welcome2 h1{
    padding-top: 70px;
    padding-bottom: 10px;
    padding-left: 500px;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    color:black;  
}
    
.welcome2 h4{
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    color:black;  
    padding-bottom: 200px;
    padding-left: 700px;
    padding-right: 200px;
}







.welcome3{
   
    background-image: url(lasttea.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 1px;
    
 
}
.welcome3 h1{
    padding-top: 50px;
    padding-bottom: 10px;
    padding-left: 200px;
    padding-right: 200px;
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    color:black;  
    
        
    }
.welcome3 h4{
    text-align: center;
    margin: 0px;
    font-family: sans-serif;
    color:black;  
    padding-bottom: 200px;
    padding-left: 200px;
    padding-right: 200px;
    
}
